<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

	<head>
		<title>Rango</title>
	</head>

	<body>
	
		<h1>Rango says...</h1>
		<div>
			Here is the about page. <br/>
		</div>
		<div>
			<p>Go back to <a href="/rango/">Index</a></p><br/>
			<img style="width:600px;" src="{% static 'images/DeathtoStock_Wired8.jpg' %}" alt="Stock Image">
		</div>
		<footer>
			<p>
				<img style="width:600px;" src="{{ MEDIA_URL}}cat.jpg" alt="Cat picture">
				This tutorial has been put together by <strong>{{ authors }}</strong>.
			</p>
		</footer>
	</body>
</html>